*.css3 linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.less linguist-detectable=false
*.js linguist-detectable=false
*.xjs linguist-detectable=false
*.html linguist-detectable=false
*.cshtml linguist-detectable=false
*.xhtml linguist-detectable=false
*.xphp linguist-detectable=false

