
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-css-fluid">
    <section class="main-css padding-config">
        <div class="main-container">
            <!--START MAIN RIGHT -->
            <div class="main-right woo-control-right fr">
                <div class="page-control-right">
                    <div class="page-fluid">
                        @if (!String.IsNullOrEmpty(ViewBag.success))
                        {
                            <div style="padding: 20px 0 20px 0">
                                <div class="text-success">
                                    @ViewBag.success
                                </div>
                            </div>
                        }

                        else
                        {
                            <h1>Quên mật khẩu</h1>
                            <div class="img-responsive">
                                <div class="woocommerce">
                                    @if (!String.IsNullOrEmpty(ViewBag.error))
                                    {
                                        <ul class="woocommerce-error">
                                            <li>@ViewBag.error</li>
                                        </ul>
                                    }
                                    <form method="post" class="woocommerce-ResetPassword lost_reset_password">
                                        <p>Quên mật khẩu? Vui lòng nhập địa chỉ email. Bạn sẽ nhận được một liên kết tạo mật khẩu mới qua email.</p>
                                        <p class="woocommerce-FormRow woocommerce-FormRow--first form-row form-row-first">
                                            <label for="user_login">Nhập email</label><br>
                                            <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="Email" id="Email_login">
                                        </p>
                                        <div class="clear"></div>
                                        <p class="woocommerce-FormRow form-row">
                                            <input type="hidden" name="wc_reset_password" value="true"><br>
                                            <input type="submit" class="woocommerce-Button button" value="Đặt lại mật khẩu">
                                        </p>
                                        <p>
                                            <input type="hidden" id="_wpnonce" name="_wpnonce" value="4f0fd4cce8"><input type="hidden" name="_wp_http_referer" value="/tai-khoan/lost-password/"><br>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--END MAIN RIGHT -->
            <!--START MAIN LEFT -->
            @{Html.RenderAction("Mainleft", "Home");}
            <!--END MAIN LEFT -->
        </div>
        <!--END MAIN CONTAINER -->
    </section>
</div>

