
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-css-fluid">
    <section class="main-css padding-config">
        <div class="main-container">
            <!--START MAIN RIGHT -->
            <div class="main-right woo-control-right fr">
                <div class="page-control-right">
                    <div class="page-fluid">
                        <h1>Giới thiệu</h1>
                        <div class="img-responsive">
                            <p>Hiện nay, xu hướng&nbsp;thương mại điện tử&nbsp;đang phát triển rất mạnh, trong tương lai sẽ là mô hình chủ đạo và tất yếu,&nbsp;SHOP BÁN HÀNG&nbsp;đã tạo nên sự khác biệt bởi chính hình thức này: Một mô hình&nbsp;cửa hàng trực tuyến, cung cấp mọi góc độ của sản phẩm nhằm giúp khách hàng dễ dàng chọn lựa sản phẩm yêu thích, liên tục cập nhật mẫu mã đa dạng và kèm theo đó là phong cách bán hàng chuyên nghiệp, chu đáo giúp cho bạn trẻ, những người bận rộn, những người làm việc văn phòng&nbsp;không có thời gian đi shopping&nbsp;vẫn có thể thỏa sức mua sắm. với mô hình này chúng tôi đã và đang làm hài lòng tất cả các Khách hàng.</p>
                            <p>Hệ thống bán hàng của chúng tôi xuất hiện ở mọi nơi trên Internet từ Facebook, Twitter, Goole Plus cho tới. &nbsp;Bạn có thể tìm hiểu kỹ hơn để yên tâm hơn về những sản phẩm cũng như dịch vụ bán hàng trực tuyến của chúng tôi theo những đường dẫn sau đây:</p>
                            <p>+ Facebook:&nbsp;https://www.facebook.com/shopbanhang</p>
                            <p>+ Twitter:&nbsp;https://twitter.com/#!/ shopbanhang</p>
                            <p>+ Google Plus:&nbsp;https://plus.google.com/u/0/b/1shopbanhang</p>
                            <p>Bạn hoàn toàn có thể yên tâm đặt hàng rồi nhé!</p>
                            <p>Trân trọng!</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MAIN RIGHT -->
            <!--START MAIN LEFT -->
            @{Html.RenderAction("Mainleft", "Home");}
            <!--END MAIN LEFT -->
        </div>
        <!--END MAIN CONTAINER -->
    </section>
</div>

