.css-single-product .icon img {} .css-single-product ul.products li.product {} .css-single-product ul.products li.product a img {} .css-single-product ul.products li.product a .icon img {} .css-single-product .reviews_tab {} .css-single-product #reviews {} .css-single-product .woocommerce_short_description {} .single-images {} .css-single-product span.onsale {} .css-single-product .images img {} .css-single-product .woocommerce-main-image img {} .css-single-product .images {}
/* summary */
.css-single-product .summary {}
/*3.1: Title h1 itemprop="*/

.css-single-product .summary h1 {}
/*3.2: offers block*/

.css-single-product .summary div[itemprop="offers"] {} .css-single-product .summary div[itemprop="offers"] .price {} .css-single-product .summary div[itemprop="offers"] del span {} .css-single-product .summary div[itemprop="offers"] ins {} .css-single-product .summary div[itemprop="offers"] span:before {} .css-single-product .summary div[itemprop="offers"] span {}
/*3.3 : itemprop="description"*/

.css-single-product .summary div[itemprop="description"] {} .css-single-product .summary div[itemprop="description"] p {}
/*3.4 <p class="stock in-stock">*/

.css-single-product .summary .stock {} .css-single-product .summary .stock:before {}
/*3.5 <form class="cart" */

.css-single-product .cart {} .css-single-product .cart .quantity {} .css-single-product .cart .quantity:before {} .css-single-product .cart .quantity .input-text {} .css-single-product .cart .quantity .plus {} .css-single-product .cart .quantity .minus {}
/* 3.6 <div class="product_meta"> */

.css-single-product .product_meta {} .css-single-product .product_meta .sku_wrapper {} .css-single-product .product_meta .posted_in {} .css-single-product .product_meta .tagged_as {} .css-single-product .cart .button {} .css-single-product .woocommerce-tabs {} .css-single-product .woocommerce-tabs ul li a {} .css-single-product .woocommerce-tabs ul li {} .css-single-product #tab-description h2 {} .entry-content {} .entry-content p {} .dkmh-content p {} .caroufredsel_wrapper {} .yith_magnifier_thumbnail {} .yith_magnifier_gallery {} .css-single-product img {}

.single-product-control{
    margin: 15px auto;
    padding: 20px 0px;
}
#css-single-product  .single-product-fluid .images{float:left;/* z-index: 9999; */display: block;/* width: 290px; */position: relative;/* height: 290px; */opacity: 1;width: 363px;background: white;border: 1px solid #e1e1e1;float: left;height: 310px;/* margin-bottom: 118px; */position: relative;}
#css-single-product{
    min-height: 460px;
}
#css-single-product .single-product-fluid{
    width: 100%;
    float: left;
    position: relative;
}
#css-single-product  .single-product-fluid .thumbnails a{
    background: whitesmoke;
    height: 100%;
    width: 121px;
    float: left;
    margin-left: 0px;
}


.woocommerce-main-image{background: white;width: 365px;height: auto;/* display: block; *//* margin: 0 auto; */margin-bottom: 10px;position: relative;/* background: red; */}
.woocommerce-main-image img{display:block;margin:0 auto;height: 100% !important;}
#css-single-product  .single-product-fluid img{
    width: 290px;
    height: auto;
}
#css-single-product .single-product-fluid .icon img{
    width:50px;
    position:absolute;
    /* top:10px; */
    z-index: 99;
}

#css-single-product .single-product-fluid .thumbnails{
    width: 363px;
    margin-top: 20px;
    background: white;
    /* top: 8px; */
    display: block;
    float: left;
    position: relative;
    display: block;
    /* margin-left: -5px; */
    float: left;
    margin-top: 37px;
}

.product.has-default-attributes.has-children>.images {
    opacity: 0;
    margin: 0 auto;
    display: block;
    width: 363px;
    background: white;
    border: 1px solid #e1e1e1;
    float: left;
    margin-right: 20px;
    /* margin-bottom: 10px; */
    height: 310px;
    margin-bottom: 118px;
    position: relative;
}

#css-single-product  .single-product-fluid .thumbnails img{
    width: 115px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
}
#css-single-product  .single-product-fluid .summary{
    /* margin-bottom: 22px; */
    float: left;
    width: 540px;
    padding-left: 30px;
    /* border-left: 1px solid #e1e1e1; */
    padding-right: 30px;
}
.summary h1 {font-size: 18px;margin: 0;color: #777;/* font-weight: bold; */font-family: Arial;color: #252525;font-size: 24px;line-height: normal;text-transform: uppercase;padding-bottom: 20px;/* border-bottom: 1px solid #acacac; */}
.summary div[itemprop="offers"] {
    height: 50px;
    line-height: 50px;
}
.summary div[itemprop="offers"] .price {
    line-height: 37px;
    height: 30px;
    color: #EC5D5D;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    white-space: nowrap;
}
.summary div[itemprop="offers"] del {color:black; font-size:12px}
.summary div[itemprop="offers"] ins {}
.summary div[itemprop="offers"] span:before {} 
.summary div[itemprop="offers"] span {}
.summary div[itemprop="description"] {
    color: #504E4E;
    max-height: 97px;
    overflow: hidden;
} 
.summary div[itemprop="description"] p {
    font-size: 14px;
    /* max-height: 47px; */
}
.summary .stock {}
.summary .stock:before {}

#css-single-product .cart {
    width: 428px;
    float: left;
    margin-top: 10px;
} 
#css-single-product .cart .quantity {
    float: right;
    margin: 10px 4px 0 0;
    width: 181px;
    /* padding: 10px 0px; */
} 
#css-single-product.cart .quantity:before {} 
#css-single-product .cart .quantity .input-text {
    /* float: right; */
    /* width: 87px; */
} 
#css-single-product .cart .quantity input{
    width: 103px;
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    float: right;
    /* display: block; */
    clear: both;
}
#css-single-product .cart .quantity:before{
    content: "Số Lượng";
    float:left;
    width: 75px;
    position: absolute;
    margin-top: 8px;
    color: #4A4545;
    font-size: 13px;
    font-weight: 600;
} 
#css-single-product .cart .quantity .plus {} 
#css-single-product .cart .quantity .minus {}


#css-single-product .product_meta {
    display: none;
} 
#css-single-product .product_meta .sku_wrapper {} 
#css-single-product .product_meta .posted_in {} 
#css-single-product .product_meta .tagged_as {} 
#css-single-product .cart .button {
    border: none;
    box-shadow: none;
    color: #fff;
    background: #f94e3f;
    font-size: 11px;
    padding: 12px;
    text-shadow: none;
    border-radius: 0;
    position: relative;
    /* right: 97px; */
    font-size: 20px;
    float: right;
    width: 100%;
    top: 13px;
    border-radius: 5px;
}
#css-single-product .woocommerce-tabs {
    margin-left: -14px;
    float: left;
    /* width: 100%; */
    width: 1170px;
    /* display: block; */
    /* background: #D4CDCD; */
    position: relative;
    margin-top: 50px;
    /* padding: 15px 0px; */
    margin-bottom: 20px;
    /* min-height: 300px; */
}
#css-single-product .woocommerce-tabs:before {
    /* display: table; */
    /* content: " "; */
    /* content: "."; */
    /* display: block; */
    /* height: 0; */
    /* clear: both; */
    /* visibility: hidden; */
}
#css-single-product .woocommerce-tabs ul li a {
    float: left;
    display: block;
    /* margin-left: 20px; */
    font-size: 15px;
    text-transform: uppercase;
    color: #7E7777;
    /* background: blue; */
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    font-weight: 600;
} 
#css-single-product .woocommerce-tabs ul li.active a{
    background:white;
    border-top:2px solid red;
    border-bottom: 0px !Important;
    /* margin-bottom: 20px; */
    color: red;
}
#css-single-product .woocommerce-tabs ul li.active a:hover{text-decoration: none !important;}

#css-single-product .woocommerce-tabs ul li {
    /* float: left; */
    height: 19px;
    float: left;
    /* list-style-type: initial; */
}

#css-single-product .related{
    float: left;
    width: 100% !important;
}
#css-single-product .related h2{
    font-size:18px;
    font-weight:bold;
    color:black;
    line-height:18px;
    display:block;
    width:100%;
    text-transform: uppercase;
}
#css-single-product .related ul{
    margin-top: 20px;
}
#css-single-product .related ul li{
    width: 285px;
    /* padding: 15px 10px; */
    border-right: #ebebeb thin solid;
    border-bottom: #ebebeb thin solid;
    /* height: 285px; */
}
#css-single-product .related ul li a{
    display: block;
    background: white;
    /* height: 110px; */
}
#css-single-product .related ul li img{
    width: 200px;
    display: block;
    margin: 0 auto;
    height: 200px;
}
#css-single-product .content-product-fluid{
    float: left;
    border-top: 2px solid #E34040;
}

.woocommerce-tabs li.active{} 
#css-single-product #tab-description h2 {
    font-weight: bold;
} 
#css-single-product img {}

#css-single-product .content-product-th{
    /* padding-bottom: 20px; */
    /* border-bottom: 1px solid #acacac; */
    color: black;
}
#css-single-product .content-product-th a{
    color: #EC5D5D;
    font-weight: bold;
}
.entry-content {
    background: white;
    color: #8F8B8B;
    padding: 5px 0 20px;
    overflow: visible;
    font-size: 14px;
    line-height: 19px;
    border-radius: 0 !important;
    width: 100%;
    margin-top: 24px;
    float: left;
    margin-bottom: 0px;
    border: 0 !important;
    box-shadow: none !important;
    margin-top: 23px;
    padding: 10px 20px;
    min-height: 100px;
} 
.entry-content p {
    line-height: 1.9em;
    /* height: 544px; */
    color: #565454;
}
.entry-content li {
  height: auto !important;
    float: left;}
.custome-single-shoping{
    background: white;
    float: right;
    width: 215px;
    height: 428px;
    border: 1px solid #ebebeb;
}

.summary label{color:black;}

.summary input.input-text, .summary select, .summary textarea{color: #FA7C0E;border:1px solid #e1e1e1;font-weight: bold;font-size: 13px;padding: 10px;}
.custome-quick-checkout{
    position: relative;
    top: 31px;
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: bold;
}
.custome-quick-hotline{
    position: relative;
    float: left;
    /* width: 144px; */
    /* clear: both; */
    /* margin-left: 7px; */
} 
.custome-quick-hotline button{background: #7FC142;height:50px;border:none;padding: 10px 10px;color: white;border-radius: 4px;width: 174px;font-size: 14px;/* text-transform: inherit; */} 
.custome-quick-call{}
.custome-quick-call  button{background: #7FC142;height:50px;border:none;padding:10px 20px;color: white;border-radius: 4px;width: 240px;margin: 0 12px;font-size: 14px;} 

.custome-quick-checkout .btn-primary{background: #46a748;border-color: #FFF4F4;height: 50px;padding: 15px 21px;float: left;font-size: 12px;font-weight: bold;margin: 0 5px;}
.custome-quick-checkout .fa:before{margin-right:6px;
font-size:20px;}
.caroufredsel_wrapper {} 
.yith_magnifier_thumbnail {} 
.yith_magnifier_gallery {} 

.variations{float:left;max-width: 200px;/* max-width: 250px; */}
.woocommerce-variation-price {
    color: #F20404;
    font-weight: bold;
    float: right;
    }
.quick-checkout{
    position: relative;
    top: 40px;
    float: left;
    margin-bottom: 60px;
    width: 100%;
}


.quick-checkout input[type=text], .quick-checkout input[type=url], .quick-checkout input[type=tel], .quick-checkout input[type=email] {
    font-size: 12px;
    line-height: 21px;
    color: #444;
    border: 1px solid #e1e1e1;
    width: 100%;
    max-width: 100%;
    height: 34px;
    padding: 3px 9px;
	}


	.error{
	color: #FF0000 !important;
	font-size:11px;
}
.success{
	color: #33CC00; 
	font-size:11px;
}
.title_asterisk{
  position: relative;
  top: 0px;
  color: black;
}

#dienthoai-error ,#hoten-error, #diachi-error{
font-size:10px;
float: left;
}
#myform{
float:left;
/* clear: both; */display: block;width: 95%;}

	
.submit-one {background: url(../images/checkout.png);width: 255px;height: 86px;box-shadow: none;border: none;background-repeat: none;font-size: 0px;}	
.woocommerce-breadcrumb-fluid{
    width: 100%;
    margin:  0 auto;
    float: left;
    /* height: 65px; */
}
.woocommerce-breadcrumb{
    line-height: normal;
    padding: 7px 0 8px;
    background: #f1f6f8;
    font-size: 13px;
    color: #ff5c01;
    /* margin-bottom: 20px; */
    display: none;
}
.woocommerce-variation-description{position: absolute;color: #F94E3F;left: 0;font-weight: bold;padding: 3px;top: 310px;}
